<div class="Frame flex" ng-controller="VPS_Controller as VPS" ng-init="VPS.init(Dashboard); VPS.load(); VPS.getDomain_List()">

    <div class="Frame_Header">
        <h1>Mes Serveurs VPS</h1>
        <span class="button" ng-click="VPS.Dashboard.ServicePopup.openNew({Endpoint: 'VPS', Action: 'Edit', Title: 'Créer un serveur VPS', ClassName : 'VPS_Popup'})"><i class="fas fa-plus-circle"></i> Ajouter</span>
    </div>

    <div class="List_Contenair">
        <div class="loader">
            <img src="/ressources/images/loader.gif" >
        </div>


        <div class="table_icon text-align-center absolute-middle" ng-if="!VPS.Listing && VPS.ListStatut == 'loaded'">
            <i class="fas fa-server"></i>
            <br />
            <h1>Aucun serveur VPS</h1>
            Hébergez vos domaines et applications diverses sur des solutions performantes et flexibles                
            <br /><br />
            <span class="button" ng-click="VPS.Dashboard.ServicePopup.openNew({Endpoint: 'VPS', Action: 'Edit', Title: 'Créer un serveur VPS', ClassName : 'VPS_Popup'})">Ajouter un serveur</span>


        </div>


        <div ng-repeat="VPS_Data in VPS.Listing" class="List_Item">
            <table class="width-full">
                <tr>
                    <td class="td-icon">
                        <i class="fas fa-server"></i>
                        <span class="bull {{VPS_Data.PowerState == 'started' ? 'green' : 'red'}}"></span>
                    </td>
                    
                    <td style="width: 250px;">
                        <img src="/ressources/images/Flag-Round/Flag-{{VPS_Data.Country}}.png" class="vps-flag" /> <b>{{VPS_Data.Hostname}}</b><br />
                        <span class="legend">#VM{{VPS_Data.Country}}.{{VPS_Data.ID}} &bull; {{VPS_Data.OS}}</span>
                    </td>

                    <td style="width: 140px;">
                        <div class="" ng-repeat="IP in VPS_Data.IPs">
                            <span class=""><i class="fas fa-network-wired"></i> {{IP.IP}}</span>
                        </div>
                        
                        <div class="" ng-if="VPS_Data.IPs.length == 0 || VPS_Data.IPs == null " style="font-size:11px">
                            <span class=""><i class="fas fa-network-wired"></i> En cours d'attribution</span>
                        </div>
                        
                    </td>


                    <td style="width: 400px;">
                        <b ng-if="VPS_Data.State_Code == 1" class="color-green" style="font-size:11px"><i class="fas fa-check-circle"></i> {{VPS_Data.State_Message}}</b>
                        <b ng-if="VPS_Data.State_Code != 1" class="color-red"><i class="fas fa-exclamation-triangle"></i> {{VPS_Data.State_Message}}</b>

                        <br />
                        <span class="legend">Statut</span>
                    </td>

                    <td></td>

                    <td style="width: 130px;">
                        <b>{{VPS_Data.Price}}€ / Mois</b><br />
                        <span class="legend">Tarif Mensuel</span>
                    </td>

                    <td style="width: 95px;">
                        <b>root</b><br />
                        <span class="legend"><i class="fas fa-user-shield"></i> Utilisateur</span>
                    </td>

                    <td style="width: 120px;">
                        <b>{{VPS_Data.Password}}</b><br />
                        <span class="legend"><i class="fas fa-key"></i> Mot de passe</span>
                    </td>



                    <td style="width:50px;text-align:center"><i class="fas fa-microchip"></i> {{VPS_Data.vCores}}</td>
                    <td style="width:50px;text-align:center"><i class="fas fa-memory"></i> {{VPS_Data.Ram}}</td>
                    <td style="width:100px;text-align:center"><i class="fas fa-hdd"></i> {{VPS_Data.Disk}} GB</td>
                    <td style="width:120px;text-align:right">
                        <span class="button_action" ng-click="VPS.ManagePower(VPS_Data)"><i class="fas fa-power-off"></i></span>
                        <span class="button_action" ng-click="VPS.Edit(VPS_Data)"><i class="fas fa-cog"></i></span>
                        <span class="button_action" ng-click="VPS.Delete(VPS_Data)"><i class="fas fa-trash"></i></span>
                    </td>

                </tr>
            </table>

            <div class="List_Item_Footer">
                <div ng-repeat="Domain_Data in VPS.Domain_List" class="List_Item List_Item_ForItem ID_CloudDevice_{{Domain_Data.ID_CloudDevice}}" ng-if="Domain_Data.ID_CloudDevice == VPS_Data.ID">
                    <table class="width-full" title="{{Domain_Data.StateMessage}}">
                        <tr>
                            <td class="td-icon" ><i class="fas {{Domain_Data.State ? 'fa-globe-americas' : 'fa-exclamation-triangle' }}"></i><span class="bull {{Domain_Data.Enabled && Domain_Data.State ? 'green' : 'red' }}"></span></td>
                            <td>
                                <b>{{Domain_Data.Domain}}</b>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="List_Item List_Item_ForItem" ng-controller="Domain_Controller as Domain" ng-init="Domain.init(Dashboard);">
                    <table class="width-full" title="Ajouter un domaine" ng-click="Domain.Dashboard.ServicePopup.openNew({Endpoint: 'Domain', Action: 'Add', Title: 'Ajouter un domaine sur ' + VPS_Data.Hostname, ID_CloudDevice: VPS_Data.ID})">
                        <tr>
                            <td class="td-icon" ><i class="fas fa-plus-circle"></i><span class="bull blue"></span></td>
                            <td>
                                <b>Ajouter un domaine</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>