<div class="contenair" >

    <header></header>

    <div class="menu">

        <div class="logos">
            <a href="https://www.nextwab.com">
                <img class="logo-home" src="/ressources/images/logo-home.png" title="Aller sur le site">
                <img class="logo-home-short" src="/ressources/images/logo-home-short.png" title="Aller sur le site">
            </a>
        </div>

        <nav ng-if="Dashboard.applicationType == 'Dashboard'">
            <a href="/"><i class="fas fa-home"></i> <span>Tableau de bord</span></a>
            <a href="/domains/"><i class="fas fa-globe-americas"></i> <span>Domaines</span></a>
            <a href="/vps/"><i class="fas fa-terminal"></i> <span>Serveurs VPS</span></a>
            <a href="/mysql/"><i class="fas fa-database"></i> <span>Bases de données</span></a>
            <a href="/mails/"><i class="fas fa-at"></i> <span>Boites Mails</span></a>
            <a href="/outsourcing/"><i class="far fa-chart-bar"></i> <span>Infogérance & Monitoring</span></a>
            <a href="/support/"><i class="fas fa-question-circle"></i> <span>Assistance</span></a>
            <a href="/account/edit/"><i class="fas fa-user-friends"></i> <span>Édition</span></a>
            <a href="/transactions/"><i class="fas fa-money-bill-wave"></i> <span>Transactions</span></a>
            <a href="/gifts-cards/"><i class="fas fa-gift"></i> <span>Cartes cadeaux</span></a>

            
            
            <div class="bottom">
                <a href="/on-facebook/"><i class="fab fa-facebook"></i> <span>Sur Facebook</span></a>
                <a href="https://github.com/Nextwab" target="_blank" class="socialmedia_lastlink"><i class="fab fa-github"></i> <span>Sur Github</span></a>
                <a href="https://github.com/Nextwab/NextwabDashboard" target="_blank"><i class="fab fa-github"></i> <span>Télécharger</span></a>
                <a href="https://www.nextwab.com/account" target="_blank"><i class="fas fa-external-link-alt"></i> <span>Accéder à l'ancien Panel</span></a>
                <a href="#" ng-click="Dashboard.ServiceUser.Logout()"><i class="fas fa-sign-out-alt"></i> <span>Se déconnecter</span></a>
            </div>
        </nav>
        
        
        
        <nav class="nav_chat" ng-if="Dashboard.applicationType == 'Chat'" ng-controller="Chat_Controller as Chat" ng-init="Chat.init(Dashboard); Chat.load()">
            <a href="/"><i class="fas fa-chevron-left"></i> <span>Tableau de bord</span></a>

            <div class="chat_connected_users">
                <b class="title">Utilisateurs connectés</b>
                <span class="chat" ng-repeat="User in Dashboard.ServiceChat.Users track by User.ID_Public">
                    <b class="button_invite" ng-click="Dashboard.ServiceChat.inviteUser_Confirmation(User.ID_Public)">Inviter</b>
                    <b class="state_bull {{User.Is_Online ? 'online' : ''}}"></b> {{User.Pseudo}} <b class="color-or" ng-if="User.Admin"> <i class="fas fa-crown"></i> Admin</b>
                </span>
            </div>
            
            
            <div class="bottom">
                <a href="/on-facebook/"><i class="fab fa-facebook"></i> <span>Sur Facebook</span></a>
                <a href="https://github.com/Nextwab" target="_blank" class="socialmedia_lastlink"><i class="fab fa-github"></i> <span>Sur Github</span></a>
                <a href="https://github.com/Nextwab/NextwabDashboard" target="_blank"><i class="fab fa-github"></i> <span>Télécharger</span></a>
                <a href="https://www.nextwab.com/account" target="_blank"><i class="fas fa-external-link-alt"></i> <span>Accéder à l'ancien Panel</span></a>
                <a href="#" ng-click="Dashboard.ServiceUser.Logout()"><i class="fas fa-sign-out-alt"></i> <span>Se déconnecter</span></a>
            </div>
        </nav>
        
        
        
    </div>


    <div class="contenair_sub_frame" ng-if="(!Dashboard.pageViewConfig.login || (Dashboard.pageViewConfig.login && Dashboard.ServiceUser.Logged))"     ng-include="Dashboard.pageRequested"></div>
    <div class="contenair_sub_frame" ng-if="Dashboard.pageViewConfig.login && !Dashboard.ServiceUser.Logged"                                           ng-include="'/pages/' + Dashboard.config_routes._not_logged.file"></div>
</div>

