RewriteEngine On

# Redirect HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^dashboard.dev.com [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/ [L,R=301]

# Redirect folder without slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_URI} !/(.*)\.(.*)
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [L,R=301]


# Redirect all non-hosted file to index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]

