<div>
    <div class="Account_Balance">
        <img src="/ressources/images/Flat-UI-Vault.png" class="img-50">
        <b>Mon solde :</b>
        <h2 class="{{User.data.Solde < 0.01 ? 'color-red' : ''}}">{{User.data.Solde| number : 2}} €</h2>
    </div>

    <div class="Account_Profil">
        <table class="table-user">
            <tr>
                <td>
                    <div class="img-user">
                        <img src="/ressources/images/no_user.png" />
                    </div>
                </td>

                <td>
                    <h1>{{User.data.user_surname}} {{User.data.user_name}}</h1>
                    {{User.data.user_street_number}} {{User.data.user_street_name}}<br />
                    {{User.data.user_street_zipcode}} {{User.data.user_city}}  {{User.data.user_pays}} 
                </td>
            </tr>
        </table>
    </div>


    <div class="Frame_Header_Footer">
        <span class="button" ng-click="User.Manage_Balance()"><i class="fas fa-plus-circle"></i> Ajouter du solde</span>

        <div class="right">
            <a href="/account/edit/" class="button"><i class="fas fa-user-edit"></i> Éditer</a>
            <span class="button" ng-click="Dashboard.ServiceUser.Logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</span>
        </div>
    </div>
</div>