<div class="Frame flex" ng-controller="User_Controller as User" ng-init="User.init(Dashboard); User.load(); User.Form_Mode = 'Edit'">

    <div class="Frame_Header Frame_Account_Header">


        <div class="Account_Balance">
            <img src="/ressources/images/Flat-UI-Vault.png" class="img-50">
            <b>Mon solde :</b>
            <h2>{{User.data.Balance| number : 2}} €</h2>
        </div>

        <div class="Account_Profil">
            <table class="table-user">
                <tr>
                    <td>
                        <div class="img-user">
                            <img src="/ressources/images/no_user.png" />
                        </div>
                    </td>

                    <td>
                        <h1>{{User.data.User_FirstName}} {{User.data.User_LastName}}</h1>
                        {{User.data.Address_StreetNumber}} {{User.data.Address_StreetName}}<br />
                        {{User.data.Address_ZipCode}} {{User.data.Address_City}}  {{User.data.Address_Country}} 
                    </td>
                </tr>
            </table>
        </div>


        <div class="Frame_Header_Footer">
            <span class="button" ng-click="User.Manage_Balance()"><i class="fas fa-plus-circle"></i> Ajouter du solde</span>

            <div class="right">
                <a href="/account/edit/" class="button"><i class="fas fa-user-edit"></i> Éditer</a>
                <span class="button" ng-click="Dashboard.ServiceUser.Logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</span>
            </div>
        </div>
    </div>



    <div class="Frame_Contenair">

        <br />

        <form autocomplete="off" ng-handler="User" ng-handler-action="Update" class="{{FormState}}" >
            <div class="" ng-include="'/pages/account/_account_editor.html'"></div>
        </form>
    </div>




</div>