<div class="Frame flex" ng-controller="User_Controller as User" ng-init="User.init(Dashboard); User.load()">

    <div class="Frame_Header Frame_Account_Header">
        <div ng-include="'/pages/account/_account_header.html'"></div>
    </div>
    
    
    <div class="Frame_Contenair">

        <br />

        <table class="width-full">
            <tr>
                <td class="v-align-top" style="padding-right: 70px;">
                
                    <div ng-if="User.data.Solde < 0.01" class="m-b-20">
                        <h2 class="color-red"><i class="fas fa-exclamation-circle"></i> Niveau de solde bas</h2>
                        Les services que vous commandez sont prélevés sur votre solde Nextwab. 
                        Afin de pouvoir commander ou lancer l'exécution de vos services, votre solde doit être alimenté en conséquence au préalable.
                        
                        <br /><br />
                        
                        <span class="button button_mini" ng-click="User.Manage_Balance()"><i class="fas fa-plus-circle"></i> Ajouter du solde</span>
                    </div>
                
                
                    
                    <div class="Events" ng-controller="Event_Controller as Event" ng-init="Event.init(Dashboard); Event.load()">

                        <div class="Event_Content" ng-repeat="Event in Event.Listing">
                            <table class="width-full table-med">
                                <tr>
                                    <td class="td-icon" ><img src="/ressources/images/icons/{{Event.Icon}}" /></td>
                                    <td>
                                        <b class="title">{{Event.Title}}</b>
                                        <p ng-bind-html="Event.Message"></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="Event_Switcher" ng-click="Event.Next();" ng-if="Event.Listing.length">
                            Événement suivant <i class="fas fa-chevron-circle-right"></i>
                        </div>
                        
                    </div>
                
                
                    <div class="Domains IndexItemContenair" ng-controller="Domain_Controller as Domain" ng-init="Domain.init(Dashboard); Domain.load()">

                        <h1><i class="fas fa-globe-americas"></i> Mes Domaines</h1>
                        <div style="min-height:22px">
                            <div ng-if="Domain.Dashboard.VPS_Focused != null">
                                Sur le serveur {{Domain.Dashboard.VPS_Focused.Hostname}} : 

                                <b ng-if="Domain.Dashboard.VPS_Focused_DomainsHosted">
                                    {{Domain.Dashboard.VPS_Focused_DomainsHosted}}
                                    Domaine(s) 
                                </b>

                                <b ng-if="!Domain.Dashboard.VPS_Focused_DomainsHosted" class="color-red">
                                    <i class="far fa-times-circle"></i> Aucun 
                                </b>
                            </div>
                        </div>

                        <div class="loader loader_domain">
                            <img src="/ressources/images/loader.gif">
                        </div>


                        <div ng-repeat="Domain_Data in Domain.Listing" class="List_Item List_Item_ForRack ID_CloudDevice_{{Domain_Data.ID_CloudDevice}}" 
                             ng-click="Domain.menu(Domain_Data)" 
                             ng-mouseover="Domain.Dashboard.VPS_Controller.ServerOver({ID:Domain_Data.ID_CloudDevice})" 
                             ng-mouseleave="Domain.Dashboard.VPS_Controller.ServerLeave({ID:Domain_Data.ID_CloudDevice})"
                             ng-if="Domain_Data.Is_Subdomain == false"
                             >

                            <table class="width-full" title="{{Domain_Data.StateMessage}}">
                                <tr>
                                    <td class="td-icon" ><i class="fas {{Domain_Data.State ? 'fa-globe-americas' : 'fa-exclamation-triangle' }}"></i><span class="bull {{Domain_Data.Enabled && Domain_Data.State ? 'green' : 'red' }}"></span></td>
                                    <td>
                                        <b>{{Domain_Data.Domain}}</b>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div class="" ng-if="!Domain.Listing && Domain.ListStatut == 'loaded'">


                            <table class="table_icon">
                                <tr>
                                    <td><i class="fas fa-globe-americas"></i></td>
                                    <td>
                                        <h1>Aucun domaine hébergé actuellement</h1>
                                        Commencez dès à présent à héberger un domaine en l'ajoutant ci-dessous !
                                    </td>
                                </tr>
                            </table>

                        </div>


                        <br /><br />
                        <a class="button button_mini" href="/domains/"><i class="fas fa-cog"></i> Gérer mes domaines</a>
                    </div>

                    <br /><br />

                    <div class="Databases IndexItemContenair" ng-controller="Database_Controller as DatabaseUser" ng-init="DatabaseUser.init(Dashboard);">
                        <h1><i class="fas fa-database"></i> Mes bases de données</h1>
                        <div style="min-height:22px">
                            <div ng-if="DatabaseUser.Dashboard.VPS_Focused != null">
                                Sur le serveur {{DatabaseUser.Dashboard.VPS_Focused.Hostname}} : 

                                <b ng-if="DatabaseUser.Dashboard.VPS_Focused_DatabasesHosted">
                                    {{DatabaseUser.Dashboard.VPS_Focused_DatabasesHosted}}
                                    Base(s) de données
                                </b>

                                <b ng-if="!DatabaseUser.Dashboard.VPS_Focused_DatabasesHosted" class="color-red">
                                    <i class="far fa-times-circle"></i> Aucun 
                                </b>
                            </div>
                        </div>

                        <div class="loader loader_database">
                            <img src="/ressources/images/loader.gif">
                        </div>

                        <span ng-repeat="DatabaseUser_Data in DatabaseUser.Listing">
                            <div ng-repeat="Database_Data in DatabaseUser_Data.Databases" class="List_Item List_Item_ForRack ID_CloudDevice_{{DatabaseUser_Data.ID_CloudDevice}}"
                                 ng-mouseover="DatabaseUser.Dashboard.VPS_Controller.ServerOver({ID:DatabaseUser_Data.ID_CloudDevice})" 
                                 ng-mouseleave="DatabaseUser.Dashboard.VPS_Controller.ServerLeave({ID:DatabaseUser_Data.ID_CloudDevice})"
                                 >

                                <table class="width-full">
                                    <tr>
                                        <td class="td-icon"><i class="fas fa-database"></i></td>
                                        <td>
                                            <b>{{Database_Data.Database_Name}}</b>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </span>


                        <div class="" ng-if="!DatabaseUser.Listing && DatabaseUser.ListStatut == 'loaded'">


                            <table class="table_icon">
                                <tr>
                                    <td><i class="fas fa-database"></i></td>
                                    <td>
                                        <h1>Aucune base de données hébergée actuellement</h1>
                                        Créez et gérez vos utilisateurs et bases MySQL selon vos besoins
                                    </td>
                                </tr>
                            </table>

                        </div>


                        <br /><br />
                        <a class="button button_mini" href="/mysql/"><i class="fas fa-cog"></i> Gérer mes bases de données</a>


                    </div>

                </td>

                <td class="v-align-top text-align-right">

                    <div class="rack" ng-controller="VPS_Controller as VPS" ng-init="VPS.init(Dashboard); VPS.LoadRacks()">
                        <div ng-repeat="VPS_Data in VPS.Rack[0]" style="z-index:{{100 - $index}}" class="server server_{{VPS_Data.ID}} {{VPS_Data.PowerState == 'started' ? 'green' : ''}} {{VPS_Data.PowerState == 'stopped' ? 'red' : ''}}  " 
                             ng-mouseover="VPS.ServerOver(VPS_Data)" ng-mouseleave="VPS.ServerLeave(VPS_Data)"
                             >
                            <div class="face front">
                                <b ng-if="VPS_Data.State == '_loaded'">{{VPS_Data.Hostname}}</b>
                                <a ng-if="VPS_Data.State == '_empty'" href="/vps/" >Ajouter un serveur</a>
                                <b ng-if="VPS_Data.State == '_loading'">...</b>
                                <span class="power">
                                    <i class="fas 
                                       {{VPS_Data.State == '_loaded' ?  'fa-power-off' : '' }} 
                                       {{VPS_Data.State == '_loading' ?  ' fa-sync-alt fa-spin' : '' }} 
                                       {{VPS_Data.State == '_empty' ?  ' fa-plus-circle  ' : '' }} 
                                       "></i>
                                </span>
                            </div>
                            <div class="face back"> </div>
                            <div class="face top"></div>
                            <div class="face bottom"> </div>
                            <div class="face left"><span class="line"></span></div>
                            <div class="face right"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>




    </div>