<div class="Database_User" ng-controller="Database_Controller as Database_User" ng-init="Database_User.User_Name = Popup.Config.DatabaseUser;">
    <form ng-handler="Database_User" ng-handler-action="Add_Database" class="{{FormState}}">  
        <div class="Line_Item m-b-20">
            <table class="table_icon">
                <tr>
                    <td class="v-align-top"><i class="fas fa-database"></i></td>
                    <td>                    
                        <b>Nom de la base de données :</b><br />
                        <input type="text" ng-model="Database_User.Database_Name" ngicon="fas fa-globe-americas" placeholder="DatabaseName" ng-input />
                        <br /><br />
                        <b>Description :</b><br />
                        <input type="text" ng-model="Database_User.Database_Description" ngicon="fas fa-globe-americas" placeholder="Description database" ng-input />
                    </td>
                </tr>
            </table>
        </div>

        <div class="Popup_Footer" >
            <span class="AjaxReply" ng-bind-html="FormError" ng-if="FormError"></span>
            <div class="clear"></div>
            <span class="button button_submit"></span>
        </div>
        
    </form>
    
</div>