<div>
    <div class="">
        <span 
            ng-repeat="Conversation in Dashboard.ServiceChat.Conversations track by Conversation.Token" 
            ng-click="Dashboard.ServiceChat.Conversation_Selected = Conversation.Token; Dashboard.ServiceChat.ClearZone();" 
            class="button_action chat_header_button {{Dashboard.ServiceChat.Conversation_Selected == Conversation.Token ? 'selected' : ''}}"
            >
            <i class="far fa-comments"></i> {{Conversation.Name}} <b class="unreaded_box_counter" ng-if="Conversation.Unread">{{Conversation.Unread}}</b>
            <i class="fas fa-minus-circle chat_close" ng-click="Dashboard.ServiceChat.quitConversation_Confirmation(Conversation.Token)"></i>
        </span>

        <span class="chat_header_button chb_create_conversation" ng-click="Dashboard.ServiceChat.createConversation();">
            <i class="fas fa-plus"></i> 
            <i class="fas fa-spinner fa-spin"></i>
            Créer une conversation
        </span>
        
        <span class="chat_header_user_account" ng-click="Dashboard.ServiceChat.open_AccountEdition()">
            <i class="fas fa-user-circle"></i> {{Dashboard.ServiceChat.Profil.Pseudo}}
        </span>
        
    </div>
</div>