<div class="Frame flex" ng-controller="Mail_Controller as Mail" ng-init="Mail.init(Dashboard); Mail.load();Mail.getDomain_List();">

    <div class="Frame_Header">
        <h1>Mes Boites Mails</h1>
        <span class="button" ng-click="Mail.Dashboard.ServicePopup.openNew({Endpoint: 'Mail', Action: 'Add', Title: 'Créer une adresse Mail'})" style="right: 205px;"><i class="fas fa-at"></i> Ajouter une boite mail</span>
        <span class="button" ng-click="Mail.Dashboard.ServicePopup.openNew({Endpoint: 'Mail', Action: 'Add_Alias', Title: 'Créer une redirection mail'})"><i class="far fa-paper-plane"></i> Ajouter une redirection</span>
    </div>

    <div class="List_Contenair">
        <div class="loader">
            <img src="/ressources/images/loader.gif" >
        </div>


        <div ng-if="Mail.Listing_Domains">
            Trier par domaine : 
            <br />
            <div ng-repeat="Domain_Data in Mail.Listing_Domains" class="List_Item List_Item_ForRack ID_CloudDevice_{{Domain_Data.ID_CloudDevice}}" ng-click="Mail.ViewDomain(Domain_Data)" style="font-size:12px; {{Mail.DomainCounters[Domain_Data.Domain] ? '' : 'opacity:0.5'}}" >
                <table class="width-full" title="{{Domain_Data.StateMessage}}">
                    <tr>
                        <td class="td-icon">
                            <i class="far fa-circle" ng-if="!Mail.DomainName || Mail.DomainName != Domain_Data.Domain"></i>
                            <i class="far fa-check-circle color-blue" ng-if="Mail.DomainName && Mail.DomainName == Domain_Data.Domain"></i>
                        </td>
                        <td>
                            <b>{{Domain_Data.Domain}}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="table_icon text-align-center absolute-middle" ng-if="!Mail.Listing_Mail && Mail.ListStatut == 'loaded'">
            <i class="fas fa-at"></i>
            <br />
            <h1>Aucune boite mail</h1>
            Hébergez vos boites mails et redirections de courriels              
            <br /><br />
            <span class="button" ng-click="Mail.Dashboard.ServicePopup.openNew({Endpoint: 'Mail', Action: 'Add', Title: 'Créer une adresse mail'})">Ajouter une boite mail</span>


        </div>

        <!-- Alias -->
        <div ng-repeat="Alias_Data in Mail.Listing_Alias" class="List_Item" ng-if="!Mail.DomainName || Mail.DomainName == Alias_Data.Domain">
            <table class="width-full">
                <tr>
                    <td class="td-icon"><i class="far fa-paper-plane"></i><span class="bull green"></span></td>
                    <td style="width: 250px;">
                        <b>{{Alias_Data.Address_From}}</b><br />
                        <span class="legend">Boite mail source</span>
                    </td>

                    <td style="width: 40px;font-size: 25px;color: #acc3ce;"><i class="far fa-arrow-alt-circle-right"></i></td>

                    <td style="width: 250px;">
                        <b>{{Alias_Data.Address_To}}</b><br />
                        <span class="legend">Boite mail cible</span>
                    </td>

                    <td></td>

                    <td style="width:120px;text-align:right">
                        <span class="button_action" ng-click="Mail.Delete_Alias(Alias_Data)"><i class="fas fa-trash"></i></span>
                    </td>

                </tr>
            </table>

            <div class="List_Item_Footer" style="font-size: 12px;padding: 8px 13px;">
                <i class="far fa-paper-plane"></i> Redirection mail
            </div>
        </div>


        <!-- Mailboxes -->
        <div ng-repeat="Mail_Data in Mail.Listing_Mail" class="List_Item"  ng-if="!Mail.DomainName || Mail.DomainName == Mail_Data.Domain">
            <table class="width-full">
                <tr>
                    <td class="td-icon"><i class="fas fa-at"></i>
                        <span class="bull red" ng-if="Mail_Data.State_Code == 0"></span>
                        <span class="bull green" ng-if="Mail_Data.State_Code == 1"></span>
                        <span class="bull blue" ng-if="Mail_Data.State_Code == 2"></span>
                    </td>
                    <td style="width: 350px;">
                        <b>{{Mail_Data.Login}}</b><br />
                        <span class="legend">Boite mail</span>
                    </td>


                    <td style="width: 250px;">
                        <b><i class="fas fa-globe-americas"></i> {{Mail_Data.Domain}}</b><br />
                        <span class="legend">Domaine</span>
                    </td>

                    <td></td>

                    <td style="width:120px;text-align:right">
                        <span class="button_action" ng-click="Mail.UpdatePassword(Mail_Data)" title="Mettre à jour le mot de passe"><i class="fas fa-key"></i></span>
                        <span class="button_action" ng-click="Mail.Delete(Mail_Data)"><i class="fas fa-trash"></i></span>
                    </td>

                </tr>
            </table>

            <div class="List_Item_Footer" style="font-size: 12px;padding: 8px 13px;">
                <i class="fas fa-at"></i> {{Mail_Data.State_Message}}
            </div>

        </div>


    </div>
</div>