<div class="Domain" ng-controller="Domain_Controller as Domain" ng-init="Domain.init(this.$parent.$parent.$parent.Dashboard); DomainController = this.$parent.$parent.$parent; Domain.ID_CloudDevice = Popup.Config.ID_CloudDevice;">

    <form ng-handler="Domain" ng-handler-action="Add" class="{{FormState}}">  
        <div class="Line_Item m-b-20">
            <table class="table_icon">
                <tr>
                    <td><i class="fas fa-plus-circle"></i></td>
                    <td>
                        <h1>Domaine</h1>
                        <input type="text" ng-model="Domain.Domain" ngicon="fas fa-globe-americas" placeholder="domaine-exemple.fr" ng-input ng-keypress="Domain.ResetStatut(Form)" />

                        <div class="{{Domain.CheckCssClass}}" ng-if="Domain.CheckStatut">
                            {{Domain.CheckMessage}}
                        </div>

                    </td>
                </tr>
            </table>
        </div>

        <div class="Popup_Footer" >
            <span class="AjaxReply" ng-bind-html="FormError" ng-if="FormError"></span>
            <div class="clear"></div>
            <span class="button button_check" ng-click="Domain.CheckSubmit(Form)"><i class="fas fa-search"></i> Vérifier la disponibilité</span>
            <span class="button button_submit" ng-if="Domain.CheckStatut"></span>
        </div>

    </form>

</div>