<div class="Domain" ng-controller="Domain_Controller as Domain" ng-init="Domain.Domain = Popup.Config.Domain; Domain.loadConfig(Domain.Domain)">

    <form ng-handler="Domain" ng-handler-action="setConfigNS_" class="{{FormState}}">  
        <div style="overflow: hidden;border-radius: 5px;">

            <table class="table-tiny">
                <tr>
                    <td>NameServer 1 :</td>
                    <td style="width: 160px;"><input type="text" ng-model="Domain.DomainData.NS_1" ngicon="fas fa-cog"  ng-input /></td>
                </tr>
                 <tr>
                    <td>NameServer 2 :</td>
                    <td style="width: 160px;"><input type="text" ng-model="Domain.DomainData.NS_2" ngicon="fas fa-cog"  ng-input /></td>
                </tr>
                 <tr>
                    <td>NameServer 3 :</td>
                    <td style="width: 160px;"><input type="text" ng-model="Domain.DomainData.NS_3" ngicon="fas fa-cog"  ng-input /></td>
                </tr>
                 <tr>
                    <td>NameServer 4 :</td>
                    <td style="width: 160px;"><input type="text" ng-model="Domain.DomainData.NS_4" ngicon="fas fa-cog"  ng-input /></td>
                </tr>
            </table>


        </div>

        <div class="Popup_Footer" >
            <span class="button button_submit"></span>
            <span class="button button_cancel"></span>
        </div>
    </form>

</div>