<div class="Domain" ng-controller="Domain_Controller as Domain" ng-init="Domain.Domain = Popup.Config.Domain; Domain.getVPS_List()">
    
   <div ng-repeat="VPS_Data in Domain.VPS_List" class="List_Item" style="margin-top:8px; margin-bottom:8px">
			
			<table class="width-full">
				<tr>
					<td style="width:100px"><span class="bull green"></span><span class="legend">#VM.{{VPS_Data.ID}}</span></td>
					<td style="width: 150px;">
						<b>{{VPS_Data.Hostname}}</b><br />
					</td>
                    
                    <td>
                        <span class="legend"><i class="fab fa-linux"></i> {{VPS_Data.CFG_OS}}</span>
                    </td>
                    
					<td style="width:50px;text-align:center"><i class="fas fa-microchip"></i> {{VPS_Data.CFG_VCORE}}</td>
					<td style="width:50px;text-align:center"><i class="fas fa-memory"></i> {{VPS_Data.CFG_RAM}}</td>
					<td style="width:100px;text-align:center"><i class="fas fa-hdd"></i> {{VPS_Data.CFG_DISK}} GB</td>
					<td style="width:120px;text-align:center">
                        <span class="button button_mini" ng-click="Domain.setServer(Domain.Domain , VPS_Data.ID);"><i class="fas fa-check"></i> Sélectionner</span>
                    </td>
				</tr>
			</table>
	
		</div>
   
   
</div>