<div class="User" ng-controller="User_Controller as User">
    <form class="Popup_Login" ng-submit="User.Login()">

        <div class="block">
            <b>Utilisateur : </b>
            <input type="text" ng-model="User.Login_Mail" />
        </div>

        <div class="block">
            <b>Mot de passe : </b>
            <input type="password" ng-model="User.Login_Password" />
        </div>

        <div class="Buttons_Contenair">
            <input type="submit" value="Se connecter" />
        </div>


        <div class="block color-red user-error" ng-if="User.ErrorMessage"><i class="fas fa-exclamation-triangle"></i>{{User.ErrorMessage}}</div>

    </form>

    <br />

    <div class="Popup_Footer Popup_Footer_White" >
        <table class="table-tiny width-full">
            <tr>
                <td style="width:40px"><i class="fas fa-user-plus" style="font-size: 60px;color: #ddd;"></i></td>
                <td class="text-align-right"><a href="/account/create/" class="button">Créer un compte</a></td>
            </tr>
        </table>
    </div>
</div>