<div class="User" ng-controller="User_Controller as User" ng-init="User.init(this.$parent.$parent.$parent.Dashboard); User.Check_PopupAccountRecover()">

    <div ng-if="!User._reset_password_process">
        <form class="Popup_Login" ng-submit="User.RecoverPassword()">

            <div class="block">
                <b>Adresse e-mail de connexion : </b>
                <input type="text" ng-model="User.Mail" style="width:310px" />
            </div>

            <div class="Buttons_Contenair" style="position:relative" ng-if="!User._recover_password_process">
                <input type="submit" class="button button_login" value="Envoyer le lien de récupération" />
                <div class="block login_loading" style="position: absolute;top: -12px;z-index: 10;color: #8C8C8C;left: 200px;display:none"><i class="fas fa-sync-alt fa-spin"></i></div>
            </div>
            
            <div class="Buttons_Contenair" style="position:relative" ng-if="User._recover_password_process" ng-bind-html="User._recover_password_process_text">
            </div>

            
        </form>
    </div>
    
    
    <div ng-if="User._reset_password_process">
        <div ng-bind-html="User._reset_password_process_text"></div>
        
        <br />
        <span class="button" ng-if="User._recover_password_reply" ng-click="Popup.Close();User.Popup_Login()">Se connecter</span>
        <a class="button" ng-if="!User._recover_password_reply" href="/">Fermer</a>
        
    </div>
    
    
</div>